.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		line-break: auto;

		span {
			display: inline;
			color: #646464;
			font-style: italic;
		}
	}
	img {
		border-radius: 100%;
		filter: brightness(1.2);
	}

	.basicInformations {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		padding: 1.5rem;

		.workInformations {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 0.5rem;
			div {
				display: flex;
				flex-direction: column;
				gap: 0.25rem;
				align-items: center;
				justify-content: center;
				line-break: normal;
				color: rgb(79, 79, 79);
				text-align: center;
			}
		}
	}

	ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;
		margin-top: 2rem;
		padding: 0;

		li {
			display: flex;
			width: 100%;
			list-style: none;
			border: 1px solid #ccc;
			padding: 1rem;
			align-items: center;
			justify-content: center;

			&:hover {
				background-color: black;
				cursor: pointer;
				a {
					color: white;
				}
			}
			
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 0.5rem;
				color: rgb(15, 15, 15);
				text-decoration: none;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.main {
		h1 {
			flex-direction: row;
		}

		.basicInformations > .workInformations > div {
			flex-direction: row;
		}
	}
}
